body{
    margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
}
a{
    color: white;
}
header{
    background-image: url('../img/fundo.jpg');
    height: 600px;
    position: relative;
    opacity: 0.5;
    background-size:cover;
    


}
nav{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    text-decoration: none;
    
    
}

header nav img {
    width: 200px;
    height: 200px;
    top: 0;
    padding: left;
    position: relative;
   
}

.menu a {
    text-decoration: none;
    
}
.direita {
   align-content: space-evenly;
}   
 

